#blockoPayModal .modal-dialog {
	max-width: 300px;
	margin: 15px auto;
}

#blockoPayModal .modal-content {
	background: #f4f4f4;
}

#blockoPayModal .modal-header {
	text-align: center;
	border: none;
	padding-bottom: 7px;
}

#blockoPayModal .modal-header h4 {
	padding: 30px 15px 0;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 0 15px;
}

#blockoPayModal .modal-header h4 small {
	display: block;
	text-transform: none;
	font-size: 14px;
	margin: 6px 0 0;
}

#blockoPayModal .modal-header small {
	display: block;
	margin: 3px 0 6px;
}

#blockoPayModal .modal-body {
	padding-top: 0px;
	padding-left: 30px;
	padding-right: 30px;
}

#blockoPayModal .modal-footer {
	padding-bottom: 30px;
	text-align: center;
	border: none;
}

#blockoPayModal .form-group.centered {
	margin-top: 30px;
	text-align: center;
}

#blockoPayModal .btn {
	font-weight: bold;
}

#blockoPayBtnResponse {
	display: none;
}

#blockoPayBtnSuccess {
	display: block;
	text-align: center;
}

#blockoPayBtnSuccess .message {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin: 0 0 15px;
}

#blockoPayBtnSuccess #blockoPayBtnTick {
	display: block;
	width: 45px;
	height: 45px;
	text-align: center;
	margin: 0 auto 15px;
	background: #66C300;
	color: #ffffff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	font-size: 24px;
	padding-top: 7px;
}

#blockoPayModal .help-block.error.text-danger {
	color: #a94442;
}

#blockoPayModal .form-group.error .form-control {
	border-color: #a94442;
}

#blockoPayBtnResponse {
	text-align: center;
}

#blockoPayBtnQrCode {
	display: block;
	width: 150px;
	margin: 0 auto 9px;
	border: 1px solid #888888;
	padding: 6px 6px 1px;
	background: #ffffff;
}

#blockoPayBtnBTCAmount {
	color: #059e66;
	font-weight: normal;
}

#blockoPayBtnBTCAddress {
	display: block;
	color: #059e66;
	font-weight: normal;
	font-size: 13px;
	margin: 0 -15px;
}

#blockoPayModal #btcConversion {
	display: block;
	font-size: 12px;
	margin: 0;
	color: #888888;
	padding: 15px 0 0;
	border-top: 1px solid #dadada;
}

#blockoPayBtnQrCode canvas {
	width: 100%;
	max-width: 100%;
	margin: 0;
}

#blockoPayBtnNumber {
	color: green;
	font-weight: bold;
	margin: 6px 0 15px;
}

#blockoPayModal textarea {
	max-width: 100%;
	min-width: 100%;
	min-height: 100px;
}

#blockoPayModal .ticker {
	display: block;
	max-width: 120px;
	margin: 0 auto 15px;
}

#blockoPayModal .ticker .time-container {
	display: block;
	float: left;
	width: 50%;
	text-align: center;
}

#blockoPayModal .ticker .time-container .time-num {
	font-size: 21px;
	font-weight: bold;
	display: block;
}

#blockoPayModal .ticker .time-container .time-text {
	font-size: 12px;
	font-weight: normal;
	display: block;
}

#blockoPayModal .ticker .time-progress {
	display: block;
	margin: 9px 0;
	width: 100%;
	float: left;
	height: 9px;
	border-radius: 3px;
	background: #dadada;
	position: relative;
}

#blockoPayModal .ticker .time-progress .prog {
	display: block;
	position: absolute;
	left: 0;
	height: 9px;
	top: 0;
	background: #09CA83;
	border-radius: 3px;
}
